---
version: 1
interactions:
- request:
    body: |
      {"ref":"subscriptions-ending-soon","auto_merge":false,"required_contexts":[],"environment":"web-feature","transient_environment":true,"production_environment":false}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/repos/Pocket/Web/deployments
    method: POST
  response:
    body: '{"url":"https://api.github.com/repos/Pocket/Web/deployments/156636929","id":156636929,"node_id":"MDEwOkRlcGxveW1lbnQxNTY2MzY5Mjk=","sha":"1222a88d47971de3ae3bab271971bff2e28d083e","ref":"subscriptions-ending-soon","task":"deploy","payload":{},"original_environment":"web-feature","environment":"web-feature","description":null,"creator":{"login":"bassrock","id":1010384,"node_id":"MDQ6VXNlcjEwMTAzODQ=","avatar_url":"https://avatars0.githubusercontent.com/u/1010384?v=4","gravatar_id":"","url":"https://api.github.com/users/bassrock","html_url":"https://github.com/bassrock","followers_url":"https://api.github.com/users/bassrock/followers","following_url":"https://api.github.com/users/bassrock/following{/other_user}","gists_url":"https://api.github.com/users/bassrock/gists{/gist_id}","starred_url":"https://api.github.com/users/bassrock/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bassrock/subscriptions","organizations_url":"https://api.github.com/users/bassrock/orgs","repos_url":"https://api.github.com/users/bassrock/repos","events_url":"https://api.github.com/users/bassrock/events{/privacy}","received_events_url":"https://api.github.com/users/bassrock/received_events","type":"User","site_admin":false},"created_at":"2019-07-12T06:08:52Z","updated_at":"2019-07-12T06:08:52Z","statuses_url":"https://api.github.com/repos/Pocket/Web/deployments/156636929/statuses","repository_url":"https://api.github.com/repos/Pocket/Web","transient_environment":true,"production_environment":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1a47606b01b37113d7a0b15ceef69caf"'
      Last-Modified:
      - Fri, 12 Jul 2019 06:08:52 GMT
      Location:
      - https://api.github.com/repos/Pocket/Web/deployments/156636929
      Status:
      - 201 Created
      X-Accepted-Oauth-Scopes:
      - ""
      X-Github-Media-Type:
      - github.ant-man-preview; format=json, github.flash-preview; format=json
      X-Oauth-Scopes:
      - repo
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4959"
      X-Ratelimit-Reset:
      - "1562915333"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"state":"success","environment":"web-feature","environment_url":"https://feature.test.com","log_url":"https://logUrl.com"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/repos/Pocket/Web/deployments/156636929/statuses
    method: POST
  response:
    body: '{"url":"https://api.github.com/repos/Pocket/Web/deployments/156636929/statuses/224123266","id":224123266,"node_id":"MDE2OkRlcGxveW1lbnRTdGF0dXMyMjQxMjMyNjY=","state":"success","creator":{"login":"bassrock","id":1010384,"node_id":"MDQ6VXNlcjEwMTAzODQ=","avatar_url":"https://avatars0.githubusercontent.com/u/1010384?v=4","gravatar_id":"","url":"https://api.github.com/users/bassrock","html_url":"https://github.com/bassrock","followers_url":"https://api.github.com/users/bassrock/followers","following_url":"https://api.github.com/users/bassrock/following{/other_user}","gists_url":"https://api.github.com/users/bassrock/gists{/gist_id}","starred_url":"https://api.github.com/users/bassrock/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bassrock/subscriptions","organizations_url":"https://api.github.com/users/bassrock/orgs","repos_url":"https://api.github.com/users/bassrock/repos","events_url":"https://api.github.com/users/bassrock/events{/privacy}","received_events_url":"https://api.github.com/users/bassrock/received_events","type":"User","site_admin":false},"description":"","environment":"web-feature","target_url":"","created_at":"2019-07-12T06:08:53Z","updated_at":"2019-07-12T06:08:53Z","deployment_url":"https://api.github.com/repos/Pocket/Web/deployments/156636929","repository_url":"https://api.github.com/repos/Pocket/Web","environment_url":"https://feature.test.com","log_url":""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b3ace3089312e427565d79e75dbc20aa"'
      Location:
      - https://api.github.com/repos/Pocket/Web/deployments/156636929/statuses/224123266
      Status:
      - 201 Created
      X-Accepted-Oauth-Scopes:
      - ""
      X-Github-Media-Type:
      - github.ant-man-preview; format=json, github.flash-preview; format=json
      X-Oauth-Scopes:
      - repo
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4958"
      X-Ratelimit-Reset:
      - "1562915333"
    status: 201 Created
    code: 201
    duration: ""
