---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.github.com/repos/Pocket/Web/deployments?environment=web-feature&ref=subscriptions-ending-soon
    method: GET
  response:
    body: '[{"url":"https://api.github.com/repos/Pocket/Web/deployments/156636929","id":156636929,"node_id":"MDEwOkRlcGxveW1lbnQxNTY2MzY5Mjk=","sha":"1222a88d47971de3ae3bab271971bff2e28d083e","ref":"subscriptions-ending-soon","task":"deploy","payload":{},"original_environment":"web-feature","environment":"web-feature","description":null,"creator":{"login":"bassrock","id":1010384,"node_id":"MDQ6VXNlcjEwMTAzODQ=","avatar_url":"https://avatars0.githubusercontent.com/u/1010384?v=4","gravatar_id":"","url":"https://api.github.com/users/bassrock","html_url":"https://github.com/bassrock","followers_url":"https://api.github.com/users/bassrock/followers","following_url":"https://api.github.com/users/bassrock/following{/other_user}","gists_url":"https://api.github.com/users/bassrock/gists{/gist_id}","starred_url":"https://api.github.com/users/bassrock/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bassrock/subscriptions","organizations_url":"https://api.github.com/users/bassrock/orgs","repos_url":"https://api.github.com/users/bassrock/repos","events_url":"https://api.github.com/users/bassrock/events{/privacy}","received_events_url":"https://api.github.com/users/bassrock/received_events","type":"User","site_admin":false},"created_at":"2019-07-12T06:08:52Z","updated_at":"2019-07-12T06:08:53Z","statuses_url":"https://api.github.com/repos/Pocket/Web/deployments/156636929/statuses","repository_url":"https://api.github.com/repos/Pocket/Web"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"75141b1219f8e0687fe07142bbe04195"
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - repo, repo_deployment
      X-Github-Media-Type:
      - github.v3; format=json
      X-Oauth-Scopes:
      - repo
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4956"
      X-Ratelimit-Reset:
      - "1562915344"
    status: 200 OK
    code: 200
    duration: ""
