---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.github.com/repos/Pocket/Web/deployments?environment=feature.com&ref=subscriptions-ending-soon
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"60a95d231bb100e265c3aa2c5486cf44"'
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - repo, repo_deployment
      X-Github-Media-Type:
      - github.v3; format=json
      X-Oauth-Scopes:
      - repo
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4078"
      X-Ratelimit-Reset:
      - "1562996567"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"ref":"subscriptions-ending-soon","auto_merge":false,"required_contexts":[],"environment":"feature.com","transient_environment":true,"production_environment":false}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/repos/Pocket/Web/deployments
    method: POST
  response:
    body: '{"url":"https://api.github.com/repos/Pocket/Web/deployments/156816477","id":156816477,"node_id":"MDEwOkRlcGxveW1lbnQxNTY4MTY0Nzc=","sha":"1222a88d47971de3ae3bab271971bff2e28d083e","ref":"subscriptions-ending-soon","task":"deploy","payload":{},"original_environment":"feature.com","environment":"feature.com","description":null,"creator":{"login":"bassrock","id":1010384,"node_id":"MDQ6VXNlcjEwMTAzODQ=","avatar_url":"https://avatars0.githubusercontent.com/u/1010384?v=4","gravatar_id":"","url":"https://api.github.com/users/bassrock","html_url":"https://github.com/bassrock","followers_url":"https://api.github.com/users/bassrock/followers","following_url":"https://api.github.com/users/bassrock/following{/other_user}","gists_url":"https://api.github.com/users/bassrock/gists{/gist_id}","starred_url":"https://api.github.com/users/bassrock/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bassrock/subscriptions","organizations_url":"https://api.github.com/users/bassrock/orgs","repos_url":"https://api.github.com/users/bassrock/repos","events_url":"https://api.github.com/users/bassrock/events{/privacy}","received_events_url":"https://api.github.com/users/bassrock/received_events","type":"User","site_admin":false},"created_at":"2019-07-13T04:42:47Z","updated_at":"2019-07-13T04:42:47Z","statuses_url":"https://api.github.com/repos/Pocket/Web/deployments/156816477/statuses","repository_url":"https://api.github.com/repos/Pocket/Web","transient_environment":true,"production_environment":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4444dbe9183d9df4a641d2d813c3efd5"'
      Last-Modified:
      - Sat, 13 Jul 2019 04:42:47 GMT
      Location:
      - https://api.github.com/repos/Pocket/Web/deployments/156816477
      Status:
      - 201 Created
      X-Accepted-Oauth-Scopes:
      - ""
      X-Github-Media-Type:
      - github.ant-man-preview; format=json, github.flash-preview; format=json
      X-Oauth-Scopes:
      - repo
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4077"
      X-Ratelimit-Reset:
      - "1562996567"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"state":"success","environment":"feature.com","environment_url":"https://feature.com/subscriptions-ending-soon"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/repos/Pocket/Web/deployments/156816477/statuses
    method: POST
  response:
    body: '{"url":"https://api.github.com/repos/Pocket/Web/deployments/156816477/statuses/224369291","id":224369291,"node_id":"MDE2OkRlcGxveW1lbnRTdGF0dXMyMjQzNjkyOTE=","state":"success","creator":{"login":"bassrock","id":1010384,"node_id":"MDQ6VXNlcjEwMTAzODQ=","avatar_url":"https://avatars0.githubusercontent.com/u/1010384?v=4","gravatar_id":"","url":"https://api.github.com/users/bassrock","html_url":"https://github.com/bassrock","followers_url":"https://api.github.com/users/bassrock/followers","following_url":"https://api.github.com/users/bassrock/following{/other_user}","gists_url":"https://api.github.com/users/bassrock/gists{/gist_id}","starred_url":"https://api.github.com/users/bassrock/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bassrock/subscriptions","organizations_url":"https://api.github.com/users/bassrock/orgs","repos_url":"https://api.github.com/users/bassrock/repos","events_url":"https://api.github.com/users/bassrock/events{/privacy}","received_events_url":"https://api.github.com/users/bassrock/received_events","type":"User","site_admin":false},"description":"","environment":"feature.com","target_url":"","created_at":"2019-07-13T04:42:47Z","updated_at":"2019-07-13T04:42:47Z","deployment_url":"https://api.github.com/repos/Pocket/Web/deployments/156816477","repository_url":"https://api.github.com/repos/Pocket/Web","environment_url":"https://feature.com/subscriptions-ending-soon","log_url":""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b60cddb359d9e69a9e7228e138a96f64"'
      Location:
      - https://api.github.com/repos/Pocket/Web/deployments/156816477/statuses/224369291
      Status:
      - 201 Created
      X-Accepted-Oauth-Scopes:
      - ""
      X-Github-Media-Type:
      - github.ant-man-preview; format=json, github.flash-preview; format=json
      X-Oauth-Scopes:
      - repo
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4076"
      X-Ratelimit-Reset:
      - "1562996567"
    status: 201 Created
    code: 201
    duration: ""
