---
version: 1
interactions:
  - request:
      body: Action=DescribeStacks&Version=2010-05-15
      form:
        Action:
          - DescribeStacks
        Version:
          - "2010-05-15"
      headers:
        Content-Type:
          - application/x-www-form-urlencoded; charset=utf-8
        X-Amz-Date:
          - 20190708T042834Z
      url: https://cloudformation.us-east-1.amazonaws.com/
      method: POST
    response:
      body: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <CreationTime>2019-07-08T01:30:12.535Z</CreationTime>
                <NotificationARNs/>
                <StackId>arn:aws:cloudformation:us-east-1:123456789:stack/WebFeatureDeploy-expire-ecr/ee3b69c0-a11f-11e9-b952-0e639cbb91d4</StackId>
                <StackName>WebFeatureDeploy-expire-ecr</StackName>
                <Description>Web Feature Service - Deploys Web Code to ECS per git branch</Description>
                <StackStatus>CREATE_COMPLETE</StackStatus>
                <DisableRollback>false</DisableRollback>
                <Tags>
                  <member>
                    <Value>expire-ecr</Value>
                    <Key>FormattedBranchName</Key>
                  </member>
                  <member>
                    <Value>expire-ecr</Value>
                    <Key>BranchName</Key>
                  </member>
                  <member>
                    <Value>Feature</Value>
                    <Key>Env</Key>
                  </member>
                  <member>
                    <Value>1be454d1cde7af8e7c7c0641254974e3fb7281bc</Value>
                    <Key>GitSHA</Key>
                  </member>
                </Tags>
                <RollbackConfiguration/>
                <DriftInformation>
                  <StackDriftStatus>NOT_CHECKED</StackDriftStatus>
                </DriftInformation>
                <Parameters>
                  <member>
                    <ParameterKey>DomainBase</ParameterKey>
                    <ParameterValue>web.test.com</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>PrivateSubnets</ParameterKey>
                    <ResolvedValue>subnet-123415</ResolvedValue>
                    <ParameterValue>/Shared/PrivateSubnets</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>FormattedBranchName</ParameterKey>
                    <ParameterValue>expire-ecr</ParameterValue>
                  </member>
                  <member>
                    <ParameterKey>HostedZoneId</ParameterKey>
                    <ParameterValue>12314212</ParameterValue>
                  </member>[...]
