---
version: 1
interactions:
- request:
    body: '{"taskId":"790e51c8-8313-1234-988f-a5273ed59090"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20190709T000732Z
      X-Amz-Target:
      - Logs_20140328.DescribeExportTasks
    url: https://logs.us-east-1.amazonaws.com/
    method: POST
  response:
    body: '{"exportTasks":[{"destination":"pocket-web-feature-archived-logs","destinationPrefix":"/ecs/webFeature/WebFeatureDeploy-testfeature-deploys-go","executionInfo":{"creationTime":1562630852250},"from":1561421252121,"logGroupName":"/ecs/webFeature/WebFeatureDeploy-testfeature-deploys-go","status":{"code":"PENDING"},"taskId":"790e51c8-8313-4f7b-988f-a5273ed59090","to":1562717251000}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
    status: 200 OK
    code: 200
    duration: ""