---
version: 1
interactions:
- request:
    body: '{"destination":"pocket-web-feature-archived-logs","destinationPrefix":"/ecs/webFeature/WebFeatureDeploy-testfeature-deploys-go","from":300,"logGroupName":"/ecs/webFeature/WebFeatureDeploy-testfeature-deploys-go","to":1562717251000}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20190709T000731Z
      X-Amz-Target:
      - Logs_20140328.CreateExportTask
    url: https://logs.us-east-1.amazonaws.com/
    method: POST
  response:
    body: '{"taskId":"793e51c8-8313-4f7b-988f-a5273ed59090"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
    status: 200 OK
    code: 200
    duration: ""
