---
version: 1
interactions:
- request:
    body: '{"destination":"archived-logs","destinationPrefix":"/ecs/webFeature/master","from":300,"logGroupName":"/ecs/webFeature/master","to":1562905265000}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20190711T042105Z
      X-Amz-Target:
      - Logs_20140328.CreateExportTask
    url: https://logs.us-east-1.amazonaws.com/
    method: POST
  response:
    body: '{"taskId":"d6a4c421-79d4-4d55-a0ed-d4eb424c8f6d"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"taskId":"d6a4c421-79d4-4d55-a0ed-d4eb424c8f6d"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20190711T042105Z
      X-Amz-Target:
      - Logs_20140328.DescribeExportTasks
    url: https://logs.us-east-1.amazonaws.com/
    method: POST
  response:
    body: '{"exportTasks":[{"destination":"archived-logs","destinationPrefix":"/ecs/webFeature/master","executionInfo":{"creationTime":1562818865777},"from":1561609265673,"logGroupName":"/ecs/webFeature/master","status":{"code":"PENDING"},"taskId":"d6a4c421-79d4-4d55-a0ed-d4eb424c8f6d","to":1562905265000}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"taskId":"d6a4c421-79d4-4d55-a0ed-d4eb424c8f6d"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20190711T042110Z
      X-Amz-Target:
      - Logs_20140328.DescribeExportTasks
    url: https://logs.us-east-1.amazonaws.com/
    method: POST
  response:
    body: '{"exportTasks":[{"destination":"archived-logs","destinationPrefix":"/ecs/webFeature/master","executionInfo":{"completionTime":1562818867042,"creationTime":1562818865777},"from":1561609265673,"logGroupName":"/ecs/webFeature/master","status":{"code":"COMPLETED","message":"Completed
      successfully"},"taskId":"d6a4c421-79d4-4d55-a0ed-d4eb424c8f6d","to":1562905265000}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=DeleteStack&StackName=WebFeatureDeploy-master&Version=2010-05-15
    form:
      Action:
      - DeleteStack
      StackName:
      - WebFeatureDeploy-master
      Version:
      - "2010-05-15"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190711T042116Z
    url: https://cloudformation.us-east-1.amazonaws.com/
    method: POST
  response:
    body: |
      <DeleteStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
        <ResponseMetadata>
          <RequestId>53362cea-a393-11e9-a7cd-21e2f7495093</RequestId>
        </ResponseMetadata>
      </DeleteStackResponse>
    headers:
      Content-Type:
      - text/xml
    status: 200 OK
    code: 200
    duration: ""
