---
version: 1
interactions:
- request:
    body: Action=DescribeStacks&StackName=WebFeatureDeploy-master&Version=2010-05-15
    form:
      Action:
      - DescribeStacks
      StackName:
      - WebFeatureDeploy-master
      Version:
      - "2010-05-15"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190711T032341Z
    url: https://cloudformation.us-east-1.amazonaws.com/
    method: POST
  response:
    body: |
      <ErrorResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
        <Error>
          <Type>Sender</Type>
          <Code>ValidationError</Code>
          <Message>Stack with id WebFeatureDeploy-master does not exist</Message>
        </Error>
        <RequestId>489337fa-a38b-11e9-8ce6-a373b1141f2d</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: Action=DescribeStacks&StackName=arn%3Aaws%3Acloudformation%3Aus-east-1%3A123456789123%3Astack%2FWebFeatureDeploy-master%2F48ee28e0-a38b-11e9-8640-12069a319f62&Version=2010-05-15
    form:
      Action:
      - DescribeStacks
      StackName:
      - arn:aws:cloudformation:us-east-1:123456789123:stack/WebFeatureDeploy-master/48ee28e0-a38b-11e9-8640-12069a319f62
      Version:
      - "2010-05-15"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190711T032413Z
    url: https://cloudformation.us-east-1.amazonaws.com/
    method: POST
  response:
    body: |
      <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
        <DescribeStacksResult>
          <Stacks>
            <member>
              <CreationTime>2019-07-11T03:23:43.199Z</CreationTime>
              <NotificationARNs/>
              <StackId>arn:aws:cloudformation:us-east-1:123456789123:stack/WebFeatureDeploy-master/48ee28e0-a38b-11e9-8640-12069a319f62</StackId>
              <StackName>WebFeatureDeploy-master</StackName>
              <Description>Web Feature Service - Deploys Web Code to ECS per git branch</Description>
              <StackStatus>CREATE_IN_PROGRESS</StackStatus>
              <DisableRollback>false</DisableRollback>
              <Tags>
                <member>
                  <Value>master</Value>
                  <Key>FormattedBranchName</Key>
                </member>
                <member>
                  <Value>master</Value>
                  <Key>BranchName</Key>
                </member>
                <member>
                  <Value>Feature</Value>
                  <Key>Env</Key>
                </member>
                <member>
                  <Value>12345678912345678912345678912345678912</Value>
                  <Key>GitSHA</Key>
                </member>
              </Tags>
              <RollbackConfiguration/>
              <DriftInformation>
                <StackDriftStatus>NOT_CHECKED</StackDriftStatus>
              </DriftInformation>
              <EnableTerminationProtection>false</EnableTerminationProtection>
              <Parameters>
                <member>
                  <ParameterKey>DomainBase</ParameterKey>
                  <ParameterValue>feature.test.dev</ParameterValue>
                </member>
                <member>
                  <ParameterKey>PrivateSubnets</ParameterKey>
                  <ResolvedValue>subnet-12345</ResolvedValue>
                  <ParameterValue>/Shared/PrivateSubnets</ParameterValue>
                </member>
                <member>
                  <ParameterKey>FormattedBranchName</ParameterKey>
                  <ParameterValue>master</ParameterValue>
                </member>
                <member>
                  <ParameterKey>HostedZoneId</ParameterKey>
                  <ParameterValue>123456789</ParameterValue>
                </member>
                <member[...]
[...]
