---
version: 1
interactions:
- request:
    body: Action=DescribeStacks&StackName=WebFeatureDeploy-master&Version=2010-05-15
    form:
      Action:
      - DescribeStacks
      StackName:
      - WebFeatureDeploy-master
      Version:
      - "2010-05-15"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190711T040252Z
    url: https://cloudformation.us-east-1.amazonaws.com/
    method: POST
  response:
    body: |
      <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
        <DescribeStacksResult>
          <Stacks>
            <member>
              <CreationTime>2019-07-11T03:23:43.199Z</CreationTime>
              <NotificationARNs/>
              <StackId>arn:aws:cloudformation:us-east-1:123456789012:stack/WebFeatureDeploy-master/48ee28e0-a38b-11e9-8640-12069a319f62</StackId>
              <StackName>WebFeatureDeploy-master</StackName>
              <Description>Web Feature Service - Deploys Web Code to ECS per git branch</Description>
              <StackStatus>CREATE_COMPLETE</StackStatus>
              <DisableRollback>false</DisableRollback>
              <Tags>
                <member>
                  <Value>master</Value>
                  <Key>FormattedBranchName</Key>
                </member>
                <member>
                  <Value>master</Value>
                  <Key>BranchName</Key>
                </member>
                <member>
                  <Value>Feature</Value>
                  <Key>Env</Key>
                </member>
                <member>
                  <Value>12345678912345678912345678912345678912</Value>
                  <Key>GitSHA</Key>
                </member>
              </Tags>
              <RollbackConfiguration/>
              <DriftInformation>
                <StackDriftStatus>NOT_CHECKED</StackDriftStatus>
              </DriftInformation>
              <EnableTerminationProtection>false</EnableTerminationProtection>
              <Parameters>
                <member>
                  <ParameterKey>DomainBase</ParameterKey>
                  <ParameterValue>test.feature.com</ParameterValue>
                </member>
                <member>
                  <ParameterKey>PrivateSubnets</ParameterKey>
                  <ResolvedValue>subnet-12345</ResolvedValue>
                  <ParameterValue>/Shared/PrivateSubnets</ParameterValue>
                </member>
                <member>
                  <ParameterKey>FormattedBranchName</ParameterKey>
                  <ParameterValue>master</ParameterValue>
                </member>
                <member>
                  <ParameterKey>HostedZoneId</ParameterKey>
                  <ParameterValue>1231412313132</ParameterValue>
                </member>
                <me[...]
- request:
    body: '{"cluster":"WebFeatureShared","services":["master"]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20190711T040253Z
      X-Amz-Target:
      - AmazonEC2ContainerServiceV20141113.DescribeServices
    url: https://ecs.us-east-1.amazonaws.com/
    method: POST
  response:
    body: '{"failures":[],"services":[{"clusterArn":"arn:aws:ecs:us-east-1:123456789012:cluster/WebFeatureShared","createdAt":1.562815436555E9,"deploymentConfiguration":{"maximumPercent":200,"minimumHealthyPercent":100},"deployments":[{"createdAt":1.562815436555E9,"desiredCount":1,"id":"ecs-svc/9223370474039339246","launchType":"FARGATE","networkConfiguration":{"awsvpcConfiguration":{"assignPublicIp":"DISABLED","securityGroups":["sg-0b43d87db54556804"],"subnets":["subnet-0eb99fe10e08d5d96","subnet-04478ac1c55709b1f","subnet-0a6c00fa564f97b10","subnet-07854aac95d07bb16"]}},"pendingCount":0,"platformVersion":"1.3.0","runningCount":1,"status":"PRIMARY","taskDefinition":"arn:aws:ecs:us-east-1:123456789012:task-definition/webFeature-master:2","updatedAt":1.562815528027E9}],"desiredCount":1,"enableECSManagedTags":false,"events":[{"createdAt":1.562815528034E9,"id":"9a4cd658-191a-4577-a0c0-9d7dae2bfc54","message":"(service
      master) has reached a steady state."},{"createdAt":1.562815507818E9,"id":"04fb06d6-1e23-4117-95b2-4994c8e58eba","message":"(service
      master) registered 1 targets in (target-group arn:aws:elasticloadbalancing:us-east-1:123456789012:targetgroup/WebFe-Targe-YNQT1I1MED23/b859d5492b270361)"},{"createdAt":1.562815445079E9,"id":"601fea26-adb0-4a54-a7d2-4f8788e2f7f6","message":"(service
      master) has started 1 tasks: (task f18781a4-28f9-4424-b6d5-02e8a1e2bec9)."}],"healthCheckGracePeriodSeconds":0,"launchType":"FARGATE","loadBalancers":[{"containerName":"http","containerPort":80,"targetGroupArn":"arn:aws:elasticloadbalancing:us-east-1:123456789012:targetgroup/WebFe-Targe-YNQT1I1MED23/b859d5492b270361"}],"networkConfiguration":{"awsvpcConfiguration":{"assignPublicIp":"DISABLED","securityGroups":["sg-0b43d87db54556804"],"subnets":["subnet-0eb99fe10e08d5d96","subnet-04478ac1c55709b1f","subnet-0a6c00fa564f97b10","subnet-07854aac95d07bb16"]}},"pendingCount":0,"placementConstraints":[],"placementStrategy":[],"platformVersion":"LATEST","propagateTags":"NONE","roleArn":"arn:aws:iam::123456789012:role/aws-service-role/ecs.amazonaws.com/AWSServiceRoleForECS","runningCount":1,"schedulingStrategy":"REPLICA","serviceArn":"arn:aws:ecs:us-east-1:123456789012:service/master","serviceName":"master","serviceRegistries":[],"status":"ACTIVE","taskDefinition":"arn:aws:ecs:us-east-1:123456789012:task-definition/webFeature-master:2","version":0}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"taskDefinition":"arn:aws:ecs:us-east-1:123456789012:task-definition/webFeature-master:2"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20190711T040253Z
      X-Amz-Target:
      - AmazonEC2ContainerServiceV20141113.DescribeTaskDefinition
    url: https://ecs.us-east-1.amazonaws.com/
    method: POST
  response:
    body: '{"taskDefinition":{"compatibilities":["EC2","FARGATE"],"containerDefinitions":[{"command":[],"cpu":0,"dnsSearchDomains":[],"dnsServers":[],"dockerLabels":{},"dockerSecurityOptions":[],"entryPoint":[],"environment":[{"name":"DOMAIN","value":"master.test.feature.com"},{"name":"XRAY_HOST","value":"127.0.0.1"},{"name":"APP_ENV","value":"stage"}],"essential":true,"extraHosts":[],"image":"123456789012.dkr.ecr.us-east-1.amazonaws.com/feature:12345678912345678912345678912345678912","inferenceDevices":[],"links":[],"logConfiguration":{"logDriver":"awslogs","options":{"awslogs-group":"/ecs/webFeature/master","awslogs-region":"us-east-1","awslogs-stream-prefix":"ecs"},"secretOptions":[]},"mountPoints":[{"containerPath":"/config","readOnly":true,"sourceVolume":"config"},{"containerPath":"/logs","sourceVolume":"logs"}],"name":"http","portMappings":[{"containerPort":80,"hostPort":80,"protocol":"tcp"}],"resourceRequirements":[],"secrets":[],"systemControls":[],"ulimits":[],"volumesFrom":[]},{"command":[],"cpu":0,"dnsSearchDomains":[],"dnsServers":[],"dockerLabels":{},"dockerSecurityOptions":[],"entryPoint":[],"environment":[{"name":"CONFIG_DEST","value":"/config/server_variables.php"},{"name":"CONFIG_PATH","value":"/Web/Feature"},{"name":"CONFIG_INTERVAL","value":"60"}],"essential":true,"extraHosts":[],"image":"pocket/config-agent:php","inferenceDevices":[],"links":[],"logConfiguration":{"logDriver":"awslogs","options":{"awslogs-group":"/ecs/webFeature/master","awslogs-region":[...]
- request:
    body: '{"containerDefinitions":[{"command":[],"cpu":0,"dnsSearchDomains":[],"dnsServers":[],"dockerLabels":{},"dockerSecurityOptions":[],"entryPoint":[],"environment":[{"name":"DOMAIN","value":"master.test.feature.com"},{"name":"XRAY_HOST","value":"127.0.0.1"},{"name":"APP_ENV","value":"stage"}],"essential":true,"extraHosts":[],"image":"123456789012.dkr.ecr.us-east-1.amazonaws.com/feature:12345678912345678912345678912345678912","links":[],"logConfiguration":{"logDriver":"awslogs",[...]
- request:
    body: '{"cluster":"WebFeatureShared","service":"master","taskDefinition":"arn:aws:ecs:us-east-1:123456789012:task-definition/webFeature-master:3"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20190711T040254Z
      X-Amz-Target:
      - AmazonEC2ContainerServiceV20141113.UpdateService
    url: https://ecs.us-east-1.amazonaws.com/
    method: POST
  response:
    body: '{"service":{"clusterArn":"arn:aws:ecs:us-east-1:123456789012:cluster/WebFeatureShared","createdAt":1.56281543655[...]
[...]
